**DSCI 100: PLAICraft Analysis & Report**

In [2]:
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [5]:
players <- read_csv("players.csv") |> 
    select(-hashedEmail) |> 
    filter(played_hours>2)
players

Rows: 196 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): experience, hashedEmail, name, gender
dbl (2): played_hours, Age
lgl (1): subscribe

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

   experience subscribe played_hours name      gender     Age
1  Pro         TRUE      30.3        Morgan    Male        9
2  Veteran     TRUE       3.8        Christian Male       17
3  Amateur     TRUE      48.4        Xander    Female     17
4  Regular     TRUE       5.6        Winslow   Male       17
5  Veteran     TRUE       2.2        Cyrus     Male       24
6  Veteran     TRUE      12.5        Isidore   Agender    27
7  Regular     TRUE     218.1        Akio      Non-binary 20
8  Amateur     TRUE       2.9        Rafael    Male       11
9  Regular     TRUE       3.6        Zane      Male       10
10 Amateur     TRUE      17.2        Kyrie     Male       14
11 Amateur     TRUE      53.9        Alex      Male       17
12 Regular     TRUE     223.1        Hiroshi   Male       17
13 Amateur     TRUE       3.5        Madison   Female     21
14 Amateur     TRUE     150.0        Delara    Female     16
15 Veteran    FALSE       2.7        Sophia    Female     22
16 Regular     TRUE       4.0        Scarlett  Male       21
17 Beginner   FALSE       7.1        Arash     Male       17
18 Regular     TRUE      18.5        Dante     Male       49
19 Amateur     TRUE      56.1        Dana      Male       23
20 Beginner    TRUE      23.7        Isla      Male       24
21 Regular     TRUE     178.2        Piper     Female     19
22 Veteran    FALSE       2.7        Jamie     Non-binary 21
23 Amateur    FALSE       2.1        Sebastián Male       24
24 Amateur     TRUE      32.0        Sidney    Male       22
25 Amateur    FALSE       2.3        Harlow    Male       17